~$*.docx
node_modules*
*tmp
.vscode/*
angular/typescript demo/*.js
Projects/scientists-encyclopedia
*.iml
*.class
*#
Junit/UserService/target/test-classes/com/appsDeveloperBlog/estore/service/UserServiceTest.class
