<h2>{{ title | lowercase | uppercase }}</h2>
<p>{{today | date: 'fullDate'}}</p>

<input type="text" name="task" #task placeholder="enter new tasks" [value]="textboxValue" 
(keydown.enter)="addTask(task.value)">

<br> <br>
<button (click)="addTask(task.value)">add task</button>

<br>
<ul *ngFor="let item of taskList">
  <li>{{item.name}} <button (click)="removeTask(item.id)">remove</button></li>
</ul>

<!-- invoking child compoent here: -->
<app-child [item]="data"></app-child>

<button (click)="updateChild()">update child component</button>


<br> <br>
<!-- <ul *ngFor="let user of userDetails">
  <app-user-detail [item]="user"></app-user-detail>
</ul>

<br> <br>
<app-child2 (updateDataEvent)="updateData($event)"></app-child2>
<p>parent says that: {{__data}}</p> -->

<input type="text" name="textfield" #textfield [(ngModel)]="name" placeholder="enter username">
<button (click)="getVal(textfield)">call function</button>
<p>{{name}}</p>
