<!-- <p class="heading">login works! -- really?</p>
-->

<!-- <form action="" method="get">
    <label for="username">name</label>
    <input type="text" name="username" id="uname" value="{{name}}" disabled={{disablePasswd}}>
    <br>
    <label for="password">password</label>
    <input type="password" name="password" id="pwd" [value]=name [disabled]=disablePasswd>
</form> -->

<span *ngFor="let user of userDetails">

    <ul *ngFor="let account of getAttributeSocialAccounts(user)">
        <li><a [href]="accountLinks(account)">{{ account }}</a></li>
        <!-- why is it doing internal routing?? -->
    </ul>

</span>

<!-- <p *ngFor="let item of users">name is: {{item}}</p> -->
<!-- <p hidden *ngFor="let item of userDetails">details is: {{ getAttributeName(item) }}</p> -->
<!-- the issue is still persisting on angualr 15, Idk why: -->
<!-- <p>{{ justAnObject?.name }}</p> -->

