/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    color: rgb(0, 122, 0);
    /* margin-left: 33%; */
    /* margin-right: 33%; */
    /* margin-top: 3rem; */
    /* margin: auto; */
    padding-top: 1%;
    /* border-color: rgb(0, 122, 0); */
    /* border-bottom: #0ab715; */
    /* border-width: 2px; */
    /* border-bottom: 2px rgb(0, 122, 0) solid; */
}

u {
    padding: auto;
    background-color: #263a7e;
}

body {
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    
    /* same as above */
    font: 400 14px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

.container {
    /* width: 960px; */
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 2px #1c3fb1 solid;
}

.box-1 {
    background-color: #333;
    color: #d2d2d2;
    margin: 20px;
    border-left: 5px rgb(55, 240, 55) solid;
    border-right: 5px rgb(55, 240, 55) solid;
    border-top: 5px rgb(55, 240, 55) solid;
    border-bottom: 5px rgb(55, 240, 55) solid;
    
    /* same as above */
    /* border: 5px rgb(55, 240, 55) solid; */
    border-left-width: 10px;
}