
section {
    width: 50%;
    border-radius: 3px;
    padding: 2px;
    /* display: inline; */
}

input {
    display: flex;
    margin: 5px 7%;
    /* padding: 3px; */
    height: 20px;
    width: 40cqmin;
}

button {
    width: 3rem;
    /* margin-left: 50px; */
    margin: 5px 50px;
    /* display: inline; */
}

#outsideLogin {
    width: fit-content;
}

.form-area {
    background-color: rgb(190, 210, 189);
}