
.heading {
    color: rgb(0, 47, 255);
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    border: 1px black solid;
}

#submitBtn {
    width: 10%;
    margin: 4px 10px;
    align-self: auto;
}

h1 {
    text-align: center;
}