<!-- <h1 class="heading">Hello Angular {{number}} </h1> -->

<!-- <p>{{data}}</p>
<p class="{{title}}"> {{getValue()}} </p>

<p>2+2</p>
<p>{{2+2}}</p>

<textarea name="area1" id="area1" cols="40" rows="2" placeholder="Describe yourself here..." readonly>is this a textarea?: {{title === 'blog'}} </textarea>

<app-user-list></app-user-list>
<app-user-pref></app-user-pref>
<app-student-pref></app-student-pref>
<app-country-list></app-country-list>
<br>
-->
<!-- <app-login></app-login>  -->
<!-- <app-user-list id="user-list1"></app-user-list> -->

<app-header></app-header>

<h1 class="heading">Hello Angular {{number}} </h1>

<h2>Functions in Angular</h2>

<app-form1></app-form1>

<button (click)="getName('Anil', 34)">click me</button>
<br> <br>
<button (click)="getData('hello')">getData</button>
<br> <br>

<input type="text" name="test1" #box placeholder="event keyup" (keyup)="getData(box.value)">
<br> <br>
<textarea type="text" name="test1" #box2 placeholder="event keydown" (keydown)="getData(box2.value)">
</textarea>
<button type="submit" value="" id="submitBtn" (click)="getTextValue(box2.value)">submit</button>
<p>{{box2.value}}</p>

<br>
<h1 (mouseover)="getData('my name')">Saswata Mishra</h1>

<br>
<p id="displayArea"> submition accepted: {{valueWeGot}} </p>

<button (click)="counter('sub')">--</button>
<p>Count: {{count}}</p>
<button (click)="counter('add')">++</button>


<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">red color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h1 style="color: green;">green color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">blue color</h1>
</ng-template>

<h3>Switch case:</h3>

<span [ngSwitch]="color">
    <p *ngSwitchCase="'red'" style="color: rgba(208, 78, 13, 0.811);">
        Lorem ipsum dolor sit amet.
    </p>
    <p *ngSwitchCase="'green'" style="color: rgb(70, 216, 70);">
        Lorem ipsum dolor sit amet.
    </p>
    <p *ngSwitchDefault>
        Lorem ipsum dolor sit amet.
    </p>
</span>
