* {
    /* color: rgb(19, 173, 16); */
    /* priority low, that's why not getting applied */
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 229, 198);
    /* text-align: end; */
}

nav {
    background-color: #0f1111;
    height: auto;
    display: flex;
    width: 100%;
    padding: 5px;
}

nav span {
    margin-right: 200px;
}

nav span a {
    color: white;
    margin-top: 5px;
    padding-top: 5px;
}

a {
    
}

div#searcharea {
    /* padding-left: 300px; */
    margin: auto;
    justify-content: right;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

button#searchbtn {
    width: 70px;
    height: fit-content;
    font-size: larger;
    font-family: "Roboto Flex", serif;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: underline solid blueviolet;
    /* font-weight: normal; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: darkcyan;
    text-align: justify;
    width: 80%;
    /* font-weight: 100; */
}

button {
    background-color: #f08804;
    color: white;
    display: inline;
    /* justify-content: center; */
    margin: auto 10px;
}
a {
    text-decoration: none;
    color: rgba(15, 17, 17, 0.459);
}



/* .apna_college {
    font-weight: 900;
    
} */

#heading1 {
    font-weight: 100;
}

#heading2 {
    font-weight: 250;
    display: none;
}

#heading3 {
    font-weight: 450;
    display: none;
}

#heading4 {
    font-weight: 900;
    display: none;
}

#para-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.7px;
    line-height: 14px;
    text-transform: capitalize;
}

div#rounded {#logo {
    color: #f08804;
    font-size: 25px;
}

    height: 100px;
    /* width: fit-content; */
    width: 100px;
    background-color: green;
    color: black;
    align-content: center;
    text-align: center;
    display: flexbox;
    /* justify-content: center; */
    border: solid black 3px;
    padding: 50px;
    margin: auto;
    border-radius: 50%;
}

div#display {
    display: inline;
    background-color: cornsilk;
}

div.three-body {
    width: 100px;
    height: 100px;
    margin: 25px 25px;
    padding: 25px;
    text-align: center;
    align-content: center;
    display: inline-block;
}
div#box1{
    background-color: aliceblue;
}

div#box2 {
    background-color: rgb(221, 203, 177);
    /* display: none; */
    visibility: hidden;
}

div#box3 {
    background-color: darkolivegreen;
}